@import 'tailwindcss';

@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Inspiration Regular';
    src: url('../fonts/Inspiration-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
                 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --primary-bg-color: #f0f0e0;
    --primary-color: #778873;

    --card-bg-color: #F1F3E0;

    --secondary-color: #505b4d;
}

header{
    backdrop-filter: blur(5px);
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

header .icon{
    height: 20px;
    width: auto;
    margin-right: 8px;
}

header button{
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover{
    background-color: #D2DCB6;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li:hover{
    background-color: #D2DCB6;
}

nav ul li span{
    margin-top: 4px;
}

body {
    font-family: 'Indie Flower', cursive;
    background-color: var(--primary-bg-color);
    font-size: 18px;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 1.5rem 0;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.card {
    display: flex;
    width: 900px;
    height: 550px;
    background: var(--card-bg-color);
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: var(--primary-color) 2px solid;
}

.column {
    flex: 1;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-register {
    border-right: var(--primary-color) 2px solid;
}

.left-register input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #9aaa8f;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    outline: none;
}

.right-register img {
    transform: scale(1.2);
}

.right-login {
    border-left: var(--primary-color) 2px solid;
}

.right-login input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #9aaa8f;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
    outline: none;
}

.left-login img {
    transform: scale(1.2);
}

.title{
    font-family: 'Inspiration Regular', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.btn-primary {
    margin-top: 1rem;
    padding: 0.2rem;
    color: var(--primary-color);
    background: #D2DCB6;
    border: var(--primary-color) 1px solid;
    border-radius: 999px;
    font-size: 24px;
    cursor: pointer;
    width: 50%;
    align-self: center;
}

.or-line {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 1rem 0;
}

.or-line span:first-child,
.or-line span:last-child {
    flex: 1;
    height: 1px;
    background-color: #9aaa8f;
}

.or {
    margin: 0 0.75rem;
    opacity: 0.7;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 20px;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #CED6B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    box-shadow: 0 0px 10px 0 #97a797, 0 0px 10px 0 #97a797;
}

.social-btn img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.4));
}

.link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.start_images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.crossfade-enter-active,
.crossfade-leave-active {
  transition: opacity 0.4s ease;
}

.crossfade-enter-from {
  opacity: 0;
  filter: blur(4px);
}

.crossfade-enter-to {
  opacity: 1;
  filter: blur(0);
}

.crossfade-leave-from {
  opacity: 1;
  filter: blur(0);
}

.crossfade-leave-to {
  opacity: 0;
  filter: blur(4px);
}

.no-margin{
    margin: 0;
}

.container h1{
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: bold;
}

.container h3{
    font-size: 2rem;
    color: var(--primary-color);
}

.container .current-task{
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color: #e7f0e0;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: var(--primary-color) 1px solid;
}

.container .task-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container .task-header img{
    height: 25px;
    width: auto;
    margin-right: 15px;
}

.container .task-header h2{
    font-size: 2rem;
    color: var(--secondary-color);
    margin: 0;
    font-weight: bold;
}

.container .current-task .task-content{
    margin-top: 40px;
    margin-bottom: 15px;
}

.container .current-task .task-content .content-title{
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: bolder;
    margin-bottom: 20px;
}

.container .current-task .task-content .content-category{
    font-size: 15px;
    color: var(--primary-color);
    margin-bottom: 5px;
    font-weight: bold;
}

.container .current-task .task-content .content-time{
    font-size: 15px;
    color: var(--primary-color);
    font-weight: bold;
}

.container .today-content{
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color: #f4f4ee;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: var(--primary-color) 1px solid;
}

.container .today-content .task-item{
    display: flex;
    width: 100%;
    background-color: #ecebe1;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.container .today-content .task-item:hover{
    background-color: #e7e6da;
    cursor: pointer;
}

.container .today-content .task-item .content-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dedfd4;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}

.task-item .content-title{
    color: var(--secondary-color);
    font-weight: bold;
}

.task-item .content-category{
    color: var(--secondary-color);
}

.content-time .start-time{
    line-height: 1.1;
    color: var(--primary-color);

}

.task-item .end-time{
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--primary-color);
}

/* Modal Styles */
.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal {
    background: #ecebe1;
    padding: 1.5rem;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border: var(--primary-color) 2px solid;
}

.modal-title {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: bold;
}

.modal-category {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
}

.modal-category span{
    text-transform: uppercase;
    margin-left: 1rem;
    background-color: #d7d6bf;
    color: var(--secondary-color);
    padding: 4px 12px 2px 12px;
    border-radius: 16px;
}

.modal img {
    height: 15px;
    width: auto;
    cursor: pointer;
}

.modal-time{
    display: inline-flex;
    align-items: center;
}

.modal-time span{
    margin-left: 1rem;
    color: var(--secondary-color);
    font-weight: bold;
}

.modal-duration{
    margin-top: 1rem;
    color: var(--primary-color);
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}